<!-- index.html -->
<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>


<div class="container" id="app" v-scroll="handleScroll">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>🍺 Make yourself some good food.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search"
                           placeholder="search" v-model="query">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="dropdown">
                <select v-model="selected">
                    <option disabled value="">Sort by</option>
                    <option value="protein">Protein</option>
                    <option value="dietary_score">Dietary Score</option>
                    <option value="steps">Number of steps</option>
                    <option value="time">Time to prepare</option>
                </select>
            </div>
        </div>
    </div>
    <!--<div v-for="result in results">-->
    <!--<div class="panel panel-default">
        <div class="panel-heading">
            &lt;!&ndash; display the city name and country  &ndash;&gt;
            <h5>{{ result.Name }}</h5>
        </div>
        <div class="panel-body">
            &lt;!&ndash; display the latitude and longitude of the city  &ndash;&gt;
            <p> {{ result.Description }}</p>
        </div>
        <div class="panel-body">
            &lt;!&ndash; display the latitude and longitude of the city  &ndash;&gt;
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Protein: {{ result.ProteinsDV }} %</li>
                <li class="list-group-item">Fats: {{ result.TotalFatsDV }} %</li>
                <li class="list-group-item">Carbohydrates: {{ result.CarbohydratesDV }} %</li>
            </ul>
        </div>
    </div>
</div>-->
    <section>
        <div v-if="results.length > 0" v-for="result in results" class="beer-contain">
            <div class="beer-img">
                <h3>Proteins: {{ result.ProteinsDV }} % Fats: {{ result.TotalFatsDV }} % Carbs: {{ result.CarbohydratesDV }} %</h3>
            </div>
            <div class="beer-info">
                <h2>{{ result.Name }}</h2>
                <p v-if="typeof result.Description !== 'undefined'"><span class="bright">Description:</span>
                    {{ result.Description[0] }}</p>
                <h3 class="bright">Steps</h3>
                <ul>
                    <li v-for="step in result.Steps"> {{ step }}</li>
                </ul>
            </div>
        </div>
    </section>
    <!--</div>-->
</div>

<script>
    Vue.directive('scroll', {
        inserted: function (el, binding) {
            let f = function (evt) {
                if (binding.value(evt, el)) {
                    window.removeEventListener('scroll', f)
                }
            }
            window.addEventListener('scroll', f)
        }
    });

    var app = new Vue({
                          el: '#app',
                          // declare the data for the component (An array that houses the results and a query that holds the current search string)
                          data: {
                              results: [],
                              query: '',
                              selected: '',
                              page: 1
                          },
                          // declare methods in this Vue component. here only one method which performs the search is defined
                          methods: {
                              // make an axios request to the server with the current search query
                              search: function () {
                                  axios.get("http://127.0.0.1:3001/search?q=" + this.query + "&s="
                                            + this.selected + "&p=" + this.page)
                                      .then(response => {
                                          this.results = response.data;
                                          console.log("haha");
                                          console.log(response);

                                      })
                              },
                              newSearch: function () {
                                  axios.get("http://127.0.0.1:3001/search?q=" + this.query + "&s="
                                            + this.selected + "&p=" + this.page)
                                      .then(response => {
                                          console.log("new search");
                                          console.log(response.data)
                                          this.results.push(...response.data)
                                          console.log(this.results);
                                      })
                              },
                              handleScroll: function () {
                                  window.onscroll = () => {
                                      let bottomOfWindow = Math.max(window.pageYOffset,
                                                                    document.documentElement.scrollTop,
                                                                    document.body.scrollTop)
                                                           + window.innerHeight
                                                           === document.documentElement.offsetHeight
                                      if (window.pageYOffset === 0) {
                                          this.page = 1;
                                      }
                                      if (bottomOfWindow) {
                                          this.page++;
                                      }

                                  }
                              }
                          },
                          // declare Vue watchers
                          watch: {
                              // watch for change in the query string and recall the search method
                              query: function () {
                                  this.search();
                              },
                              selected: function () {
                                  this.search();
                              },
                              page: function () {
                                  if (this.page !== 1) {
                                      this.newSearch();
                                  }
                              }
                          }

                      });
</script>

<!--- some styling for the page -->
<style>

    /*body {
        font-family: 'Archivo Narrow', sans-serif;
        background: #ffb3ff;
    }

    h1, h2, h3, h4 {
        font-family: 'Spectral SC', serif;
    }

    h1 {
        margin-top: 40px;
        color: #000000;
        text-align: center;
    }

    .loading {
        color: #e6e6e6;
        text-align: center;
        font-size: 20px;
    }

    .display {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #app {
    @extend . display;
        flex-direction: column;
    }

    .beer-contain {
    @extend . display;
        width: 50%;
        margin: 20px 24%;
        box-shadow: 0 2px 3px 1px rgba(30, 0, 0, 0.1);

    }

    .beer-img {
    @extend . display;
        padding: 30px;
        background: #99ddff;
        border: 1px solid #88498F;
        border-right: 1px solid #f44822;
        max-width: 100%;
        max-height: 100%;
    }

    .beer-info {
        background: #5c8a8a;
        color: white;
        padding: 30px;
        border: 1px solid #88498F;

    .bright {
        color: #fcd7cf;
        font-family: 'Roboto Condensed', sans-serif;
    }

    }

    h3 {
        margin-bottom: 5px;
    }

    ul {
        margin-top: 5px;
    }*/
    body {
        font-family: 'Archivo Narrow', sans-serif;
        background: #25859a;
    }

    h1, h2, h3, h4 {
        font-family: 'Fjalla One', sans-serif;
    }

    h1 {
        margin-top: 40px;
        color: white;
        text-align: center;
    }

    .loading {
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .display {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #app {
    @extend .display;
        flex-direction: column;
    }

    .beer-contain {
    @extend .display;
        width: 50%;
        margin: 20px 24%;
        box-shadow: 0 2px 3px 1px rgba(30, 0, 0, 0.1);
    }

    .beer-img {
    @extend .display;
        padding: 30px;
        background: #FF6542;
        border: 1px solid #88498F;
        border-right: 1px solid #f44822;
    }

    .beer-info {
        background: #564154;
        color: white;
        padding: 30px;
        border: 1px solid #88498F;
    }

    .bright {
        color: #fcd7cf;
        font-family: 'Contrail One', sans-serif;
    }

    h3 {
        margin-bottom: 5px;
    }

    ul {
        margin-top: 5px;
    }

    .list-group-item {
        font-family: 'Roboto Condensed', sans-serif;
    }

    .search-form .form-group {
        float: right !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
    }

    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display: block;
    }

    .search-form .form-group input.form-control::-webkit-input-placeholder {
        display: none;
    }

    .search-form .form-group input.form-control:-moz-placeholder {
        /* Firefox 18- */
        display: none;
    }

    .search-form .form-group input.form-control::-moz-placeholder {
        /* Firefox 19+ */
        display: none;
    }

    .search-form .form-group input.form-control:-ms-input-placeholder {
        display: none;
    }

    .search-form .form-group:hover,
    .search-form .form-group.hover {
        width: 100%;
        border-radius: 4px 25px 25px 4px;
    }

    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 8px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }


</style>
